.header-container {
  width: 100%;
  position: fixed;
}

.header {
  height: 56px;
  border-bottom: 1px solid #A5A39E;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 16px;
}

.connected {
  border: 1.5px solid #d0cec8;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 8px;
  background: #75f23d;
  border-radius: 4px;
}

.login {
  border: 1.5px solid #d0cec8;
  border-radius: 5px;
  padding: 5px;
  background: none;
  font-size: 16px;
}
