@font-face {
  font-family: 'Ivar Display';
  src: local('Ivar Display'), local('IvarDisplay'),
  url(../fonts/IvarDisplay-Regular.woff2) format('woff2'),
  url(../fonts/IvarDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Ivar Display', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}

header {
  font-family: sans-serif;
  background: white;
}

footer {
  font-family: sans-serif;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social {
  margin-top: 8px;
  margin-bottom: 8px;
}

footer .copyright {
  font-size: 15px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

button {
  cursor: pointer;
}

.border {
  width: 100%;
  height: 1px;
  background: #A5A39E;
}

.button {
  background: black;
  border-color: black;
  color: white;
  font-size: 18px;
  min-width: 400px;
  padding: 12px 16px;
}

.button.discord {
  background: #5865F2;
  border-color: #5865F2;
}

.button.inverted {
  background: white;
  border-color: black;
  color: black;
}

.button.inverted.disabled {
  color: grey;
  border-color: grey;
  cursor: default;
}

.button svg {
  margin-left: 4px;
  margin-bottom: -4px;
}

.warning {
  margin-top: 8px;
  font-family: sans-serif;
  font-size: 16px;
  color: orange;
  text-align: end;
}

.error {
  margin-top: 8px;
  font-family: sans-serif;
  font-size: 16px;
  color: red;
  text-align: end;
}
